@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn-primary {
    display: flex;
    padding: 16px 40px 16px 40px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: #8eff01;
    color: black;
    font-weight: 800;
    line-height: normal;
    cursor: pointer;
  }

  .btn-secondary {
    display: flex;
    padding: 16px 40px 16px 40px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    color: #8eff01;
    font-weight: 800;
    line-height: normal;
    border: 2px solid #8eff01;
  }
}
