@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  background: #0d0d0d;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .blurred-header {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(25px);
  }

  .btn-primary {
    display: flex;
    padding: 16px 40px 16px 40px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: #8eff01;
    color: black;
    font-weight: 800;
    line-height: normal;
    cursor: pointer;
  }

  .btn-secondary {
    display: flex;
    padding: 16px 40px 16px 40px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    color: #8eff01;
    font-weight: 800;
    line-height: normal;
    border: 2px solid #8eff01;
  }

  .btn-tertiary {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #8eff01;
    color: #8eff01;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
  }

  .btn-disabled {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    color: rgba(255, 255, 255, 0.6);
    font-weight: 700;
    line-height: normal;
    cursor: not-allowed;
  }
}
